<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gophr</title>
        <link rel="stylesheet" href="/assets/css/bootstrap.css">        
    </head>
    <body>
        <div id="app" class="container-fluid">
            <nav class="navbar navbar-expand-md navbar-default bg-light">
                <a class="navbar-brand" href="/">Gophr</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarNav">
                    <a href='/images/new' class='btn btn-primary'>Add Image</a>
                </div>
        
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {{if .CurrentUser}}
                        <li class="nav-item">
                            <a class="nav-link" href="/account">Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signout">Sign out</a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        {{end}}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container">
            {{if .Flash}}
            <div class="alert alert-success">
                {{.Flash}}
            </div>
            {{end}}
            {{ yield }}
        </div>


        <!-- Bootstrap Bundle with Popper -->
        <script src="/assets/js/bootstrap.bundle.js"></script>
    </body>
</html>