{{define "users/edit"}}
<main role="main" class="container">
    <h1>Account Details</h1>
    {{with .Error}}
    <div class="container">
        <div class="alert alert-danger">
            {{.}}
        </div>
    </div>
    {{end}}
    <form action="/account" method="POST">
        <div class="form-group">
            <label for="newEmail">Email</label>
            <input type="text" name="email" value="{{.User.Email}}" id="newEmail" class="form-control">
        </div>
        <h2>Change Password <small>optional</small></h2>
        <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input type="password" name="currentPassword" id="currentPassword" class="form-control">
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control">
        </div>
        <input type="submit" value="Save" class="btn btn-primary">
    </form>
</main>
{{end}}